<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory="tests/.phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests/src</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <coverage includeUncoveredFiles="true"
              pathCoverage="true"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="false">
        <report>
            <clover outputFile="tests/coverage/clover/report.xml" />
            <!-- <cobertura outputFile="tests/coverage/cobertura/report.xml"/> -->
            <!-- <crap4j outputFile="tests/coverage/crap4j/report.xml" threshold="50"/> -->
            <html outputDirectory="tests/coverage/html" lowUpperBound="75" highLowerBound="95"/>
            <!-- <php outputFile="tests/coverage/coverage/report.php"/> -->
            <!-- <text outputFile="tests/coverage/txt/report.txt" showUncoveredFiles="false" showOnlySummary="true"/> -->
            <!-- <xml outputDirectory="tests/coverage/xml"/> -->
        </report>
    </coverage>
</phpunit>
